.btn-success {
   background-color: blue;
    color: antiquewhite;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    margin: 1rem;
    border-style: solid;

}
.btn-danger {
    background-color: blue;
    color: antiquewhite;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    margin: 1rem;
    border-style: solid;
}
.btn-primary {
     background-color: #0aad4e;
    color: antiquewhite;
    width: 5rem;
    height: 3rem;
    border-radius: 5px;
    margin: 5 px;
    border-style: solid;
}
