.nav-container {
  background-color: #000000;
  padding: 3rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
   
}
.anchor-nav {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.logo {
  width: 15rem;
}